
#header {
    font-family: 'Josefin Sans', 'sans-serif';
    font-size: 250%;
    text-align: center;
    opacity: 1.0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/attempt1.jpg);
    border: 5px solid black; 
}

#title {
    height: 400px;
    padding-top: 200px;
}

#drama {
    padding:5px;
    background-color: rgb(204,204,230); 
    border: 3px solid black;
    width: 65%;
    margin:auto;
    -webkit-animation: mymove 2s infinite; /* Chrome, Safari, Opera */
    animation: mymove 2s infinite;
    animation-iteration-count: 1
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    from {opacity: 0;}
    to {opacity: 1;}
}

#blockcontent {
    margin: auto;
    width:85%; 
    background-color: white; 
}

p, li { 
    font-family: 'Work Sans', 'sans-serif'; 
    padding: 5px;
    padding-left: 50px;
    padding-right:50px;
}

h1, h2, h3 {
    font-family: 'Josefin Sans', 'sans-serif'; 
    text-align: center;
    font-size: 200%;
    margin:auto;
    padding:5px;
}

#iconlib{
    text-align: center;
}

#map {
    position: relative; 
    margin: auto;
    border: 3px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    height:100%;
}

.polaroid {
    max-width: 400px;
    max-height: 450px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container {
    text-align: center;
    padding: 10px 20px;
}

.icondecor {   
    position: relative;
    display: inline-block;
    text-align: center;
    width: 75px; 
    height: 75px; 
    padding: 10px;
    margin: 10px;  
}

.iconcontent {   
    position: relative;
    display: inline-block;
    width: 50px; 
    height: 50px; 
    padding: 10px;
    margin: 10px;  
    float: left; 
}

.iconbox {   
    position: relative;
    display: inline-block;
    text-align: center;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 150px; 
    height: 150px; 
    padding: 20px;
    margin: 25px;  
}

#building {
    position: relative;
}

.label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    font-family: 'Josefin Sans', 'sans-serif'; 
    text-align: center;
    font-size:200%;
    color: rgb(0,0,126);
}

.iconbox:hover {
    border: 1px solid rgb(0,0,126);
    transition: 1.00s;
    width:225px; 
    height: 225px;
}

.iconbox:hover .icon {
    transition: 1.25s;
    opacity:0.25;
}

.iconbox:hover .label {
    transition: 1.25s;
    opacity:1;
    visibility: visible;
}

.icon {
    width: 100%;
    height: 100%;
}

.iconcredits {
    background-color: rgb(0,0,126);
    width:100%; 
    color:white;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0,0,126);
    color:white;
}

.navli {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(70,0,126);
}

#photolink {
    text-align:center;
}

