<!DOCTYPE html>

<head>
    <title>Beebe Hall</title>
    <link href="../stylesheets/style.css" rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:600|Work+Sans:300" rel="stylesheet">
</head>

<body>
    <div id="iconlib">
            <div class="icondecor">
                <img src="/images/elevator.png" alt="Elevator icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/kitchen.png" alt="Kitchen icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/nuts.png" alt="Nuts icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/wheelchair.png" alt="Wheelchair icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/sound.png" alt="Sound icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/vegetarian.png" alt="Vegetarian icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/laundry.png" alt="Laundry icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/wood.png" alt="Wood icon" class="icon">
            </div>
    </div>

    <div id="blockcontent">
        <h1 id="home">Beebe Hall Profile:</h1>

        <h2>Food:</h2>
        
        <div class="icontext">
            <div class="iconcontent">
                    <img src="/images/restroom.png" alt="Wheelchair icon" class="icon">
            </div>
            <p><strong>Dining Hall Location:</strong> Beebe is located across the residential quad from the Pomeroy dining hall. There are both stair and ramp entrances and exits on both buildings.</p>
        </div>

        <div class="icontext">
            <div class="iconcontent">
                    <img src="/images/vegetarian.png" alt="Vegetarian icon" class="icon">
            </div>
            <p><strong>Food: </strong>Pomeroy's dining hall is both kosher and vegetarian. It also consistently provides vegan options.</p>
        </div>
        <br>
        
        <h2>Mobility:</h2>
        <h3>Outside the Building:</h3>

        <p>Beebe is across the quad from Pomeroy, and can be accessed by sidewalk or by walking across the grass. </p>

        <p>Beebe is a moderate distance from the library, and involves walking up and down hills. The most direct route is past the Lulu Chow Wang campus center and along the sidewalk passing Severence Green. </p>

        <p>Beebe is relatively close to the campus center; it is at the base of the two hill entrances/exits to the quad, across the street. </p>

        <p>Gradation and Hills: Beebe has two main approaches. One is a short &amp; fairly steep (but smoothly paved) path that leads to a few steps at the building entrance. The other approach is a longer but less steep paved path leading to an entrance with a ramp.</p>

        <h3>Inside the Building:</h3>

        <div class="icontext">
            <div class="iconcontent">
                 <img src="/images/elevator.png" alt="Elevator icon" class="icon">
            </div>
            <p>Elevator: Beebe has a small, fairly narrow elevator that is immediately inside of the front door entrance and down the 1st floor hallway from the ramp entrance. One significant impedimant to mobility in Beebe's basement, though, is two short flights of steps that must be climbed to get from the portion of the basement level where the elevator opens to the portion of the basement with both a larger kitchen and the laundry room. </p>
            
            <p><strong>Doorknobs:</strong> Beebe has TK style doorknobs. </p>
        </div>

        <h2>Amenities:</h2>

        <div class="icontext">
            <div class="iconcontent">
                 <img src="/images/laundry.png" alt="Laundry icon" class="icon">
            </div>
            <p><strong>Laundry</strong> Beebe has laundry in the basement, but, as described above, students must go up and down a few steps in order to access the room. </p>
        </div>

        <div class="icontext">
            <div class="iconcontent">
                 <img src="/images/wheelchair.png" alt="Wheelchair icon" class="icon">
            </div>
            <p><strong>Restroom:</strong> The first floor in Beebe has an acessible restroom.</p>
        </div>

        <div class="icontext">
            <div class="iconcontent">
                 <img src="/images/kitchen.png" alt="Kitchen icon" class="icon">
            </div>
            <p><strong>Kitchen: </strong>Beebe has a kitchen on each floor. On some floors the kitchen is divided, but on others it is just one room. In the basement, there is a larger kitchen and a dining table. </p>
        </div>

        <h2>Sound and Alarms: </h2>

        <div class="icontext">
            <div class="iconcontent">
                 <img src="/images/sound.png" alt="Sound icon" class="icon">
            </div>
            <p><strong>Fire Alarms:</strong> TBD - flashing lights in some rooms? True in Shafer...</p>

            <p><strong>Heaters:</strong> The heaters in Beebe, as in most dorms on campus, are fairly loud. They "clang and bang" regularly beginning in the fall. </p>
        </div>
            

        <h2>Environnment:</h2>
        
        <div class="icontext">
            <div class="iconcontent">
                 <img src="/images/wood.png" alt="Wood icon" class="icon">
            </div>
            <p><strong>Allergens:</strong> Beebe has hardwood flooring, no air-conditioning, and heating in every room. </p>
        </div>
    
    <h2>Beebe Photo Gallery: </h2>
    
    <div class="gallery">
        <div class="polaroid">
            <img src="../images/beebegallery/BeebeDoorknob.jpg" alt="Doorknob in Beebe" style="width:100%" class="icon">
            <div class="container">
            <p>One of the doorknobs in Beebe Hall.</p>
            </div>
        </div>

        <div class="polaroid">
            <img src="../images/beebegallery/BeebeHallway.jpg" alt="Beebe Hallway" style="width:100%" class="icon">
            <div class="container">
            <p>A Beebe hallway. </p>
            </div>
        </div>

        <div class="polaroid">
            <img src="../images/beebegallery/BeebeElevator.jpg" alt="Beebe Elevator" style="width:100%" class="icon">
            <div class="container">
            <p>The elevator in Beebe Hall; taken from the first floor. </p>
            </div>
        </div>

        <div class="polaroid">
            <img src="../images/beebegallery/BeebeWaterfountain.jpg" alt="Beebe Waterfountain" style="width:100%" class="icon">
            <div class="container">
            <p>A waterfountain in Beebe Hall.</p>
            </div>
        </div>

        <div class="polaroid">
            <img src="../images/beebegallery/BeebeKitchen.jpg" alt="Beebe Kitchen" style="width:100%" class="icon">
            <div class="container">
            <p>Beebe's third floor kitchen.</p>
            </div>
        </div>

        <div class="polaroid">
            <img src="../images/beebegallery/BeebeKitchen2nd.jpg" alt="Beebe Half Kitchen" style="width:100%" class="icon">
            <div class="container">
            <p>Beebe's second floor half-kitchen. </p>
            </div>
        </div>

        <div class="polaroid">
            <img src="../images/beebegallery/BeebeStairs.jpg" alt="Beebe's Basement Stairs #1" style="width:100%" class="icon">
            <div class="container">
            <p>Beebe's basement stairs - view number one. </p>
            </div>
        </div>

        <div class="polaroid">
            <img src="../images/beebegallery/BeebeStairs(1).jpg" alt="Beebe's Basement Stairs #2" style="width:100%" class="icon">
            <div class="container">
            <p>Beebe's basement stairs - view number two.</p>
            </div>
        </div>

        <div class="polaroid">
            <img src="../images/beebegallery/BeebeExit.jpg" alt="Beebe Ramp Exit" style="width:100%" class="icon">
            <div class="container">
            <p>Beebe's ramp exit. </p>
            </div>
        </div>
    </div>
        
     <div id="iconlib">
            <div class="icondecor">
                <img src="/images/elevator.png" alt="Elevator icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/kitchen.png" alt="Kitchen icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/nuts.png" alt="Nuts icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/wheelchair.png" alt="Wheelchair icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/sound.png" alt="Sound icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/vegetarian.png" alt="Vegetarian icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/laundry.png" alt="Laundry icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/wood.png" alt="Wood icon" class="icon">
            </div>
        </div>
    </div>
    
    <ul class="nav">
        <li class="navli"><a href="/">Home</a></li>
        <li class="navli"><a href="/whowhywhat.html">Why this Hack?</a></li>
        <li class="navli"><a class="active" href="/beebe.html">Beebe Hall</a></li>
        <li class="navli"><a href="/tower.html">Tower Court</a></li>
        <li class="navli"><a href="/mcafee.html">McAfee Hall</a></li>
        <li class="navli"><a href="/iconcredit.html">Icon Credits</a></li>
    </ul>

</body>
