<!DOCTYPE html>

<head>
    <title>Beebe Hall</title>
    <link href="../stylesheets/style.css" rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:600|Work+Sans:300" rel="stylesheet">
</head>

<body>
    <div id="iconlib">
            <div class="icondecor">
                <img src="/images/elevator.png" alt="Elevator icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/kitchen.png" alt="Kitchen icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/nuts.png" alt="Nuts icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/restroom.png" alt="Restroom icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/sound.png" alt="Sound icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/vegetarian.png" alt="Vegetarian icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/laundry.png" alt="Laundry icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/wood.png" alt="Wood icon" class="icon">
            </div>
    </div>
    
    <div id="blockcontent">
        <h1 id="home">Beebe Hall Profile:</h1>
    
        <p>We wanted to create a web resource to help incoming and returning students find the most comfortable and accessible home in one of the campus dorms. We know that “accessible” means different things to different people, so instead of just breaking down buildings into broad categories of “accessible” or “not accessible,” we’ve provided information about specific traits and amenities of the buildings so that the students themselves can decide what is accessible for them. </p>

    
    <div id="iconlib">
            <div class="icondecor">
                <img src="/images/elevator.png" alt="Elevator icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/kitchen.png" alt="Kitchen icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/nuts.png" alt="Nuts icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/restroom.png" alt="Restroom icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/sound.png" alt="Sound icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/vegetarian.png" alt="Vegetarian icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/laundry.png" alt="Laundry icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/wood.png" alt="Wood icon" class="icon">
            </div>
        </div>
    </div>
    
    <ul class="nav">
        <li class="navli"><a href="../templates/main.html">Home</a></li>
        <li class="navli"><a href="../templates/whowhywhat.html">Why this Hack?</a></li>
        <li class="navli"><a class="active" href="#home">Beebe Hall</a></li>
        <li class="navli"><a href="../templates/tower.html">Tower Court</a></li>
        <li class="navli"><a href="../templates/mcafee.html">McAfee Hall</a></li>
        <li class="navli"><a href="../templates/iconcredit.html">Icon Credits</a></li>
    </ul>

</body>

