<!DOCTYPE html>

<head>
    <title>Icon Credits</title>
    <link href="../stylesheets/style.css" rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:600|Work+Sans:300" rel="stylesheet">
</head>

<body>
    <div id="iconlib">
            <div class="icondecor">
                <img src="/images/elevator.png" alt="Elevator icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/kitchen.png" alt="Kitchen icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/nuts.png" alt="Nuts icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/restroom.png" alt="Restroom icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/sound.png" alt="Sound icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/vegetarian.png" alt="Vegetarian icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/laundry.png" alt="Laundry icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/wood.png" alt="Wood icon" class="icon">
            </div>
    </div>
    
    <div id="blockcontent">
        <h1 id="home">Icon Credits:</h1>
    
        <p>The icons used in this project were created by the following artists: </p>
    
        <ul>
            <li><strong>Wood</strong> by Norbert de Graaff from the Noun Project</li>

            <li><strong>Elevator</strong> by Miguel C Balandrano from the Noun Project</li>

            <li><strong>Vegetarian</strong> by Cody Foss from the Noun Project</li>

            <li><strong>Toilet</strong> by Creative Stall from the Noun Project</li>

            <li><strong>Cooking Pot</strong> by Benoît GUILLO from the Noun Project</li>

            <li><strong>Stove</strong> by Ho Thi Ngoc Trinh from the Noun Project</li>

            <li><strong>Headphones</strong> by Ralf Schmitzer from the Noun Project</li>

            <li><strong>Laundry</strong> by Megan Mitchell from the Noun Project</li>

            <li><strong>Washing Machine</strong> by Sri Kadimisetty from the Noun Project</li>
        </ul>
        
    <div id="iconlib">
            <div class="icondecor">
                <img src="/images/elevator.png" alt="Elevator icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/kitchen.png" alt="Kitchen icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/nuts.png" alt="Nuts icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/restroom.png" alt="Restroom icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/sound.png" alt="Sound icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/vegetarian.png" alt="Vegetarian icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/laundry.png" alt="Laundry icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/wood.png" alt="Wood icon" class="icon">
            </div>
        </div>
    </div>

    <ul class="nav">
        <li class="navli"><a href="../templates/main.html">Home</a></li>
        <li class="navli"><a href="../templates/whowhywhat.html">Why this Hack?</a></li>
        <li class="navli"><a href="../templates/beebe.html">Beebe Hall</a></li>
        <li class="navli"><a href="../templates/tower.html">Tower Court</a></li>
        <li class="navli"><a href="../templates/mcafee.html">McAfee Hall</a></li>
        <li class="navli"><a class="active" href="#home">Icon Credits</a></li>
    </ul>
</body>

