<!DOCTYPE html>
<html lang = "en-us">
    <head>
        <title> Deconstructing Wellesley </title>
        <meta charset = "UTF-8">
        <link href="../stylesheets/image_map.css" rel='stylesheet' type='imagemap/css'>
        <link href="../stylesheets/style.css" rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:600|Work+Sans:300" rel="stylesheet">
    </head>

    <body>

        <div id="header">
            <div id="title">
                <h1 id="drama">Wellesley Blue<i>prints</i></h1>
            </div>
        </div>
        <br>
        <br>
            <div id="blockcontent">
                <div class="contentblock">
                    <h2>Where will your home be on Wellesley's campus? </h2>

                        <p>The first year of college can be a time of uncertainty and anxiety, especially if you need particular accommodations and are concerned about finding a good fit roommate and dorm. This website, Wellesley Blue<i>prints</i>, is designed to smooth your transition by helping you identify a niche home on campus that meets your needs.</p>
                </div>

                <div class="contentblock">
                    <h2>Who, Why, and What: </h2>

                    <p>Click <a href="whowhywhat.html">here</a> to read who we are, why we chose to take on this project, and what we hope the project will accomplish. </p>
                </div>

                <div class="contentblock">
                    <h2>Icons and Map: </h2>
                    <p>Below, you'll find icons representing the various accessibility factors of dorms at Wellesley College. When you navigate to the pages specific to each dorm, the accessibility factors will be categorized using these icons.</p>
                    <p>To visit a dorm's page, locate it on the map below and click to navigate.</p>
                </div>

                <div id="iconlib">
                    <div class="iconbox">
                        <img src="/images/elevator.png" alt="Elevator icon" class="icon">
                        <p class="label">Elevator Access</p>
                    </div>

                    <div class="iconbox">
                        <img src="/images/kitchen.png" alt="Kitchen icon" class="icon">
                        <p class="label">Kitchen Amenities</p>
                    </div>

                    <div class="iconbox">
                        <img src="/images/nuts.png" alt="Nuts icon" class="icon">
                        <p class="label">Nut Allergy</p>
                    </div>

                    <div class="iconbox">
                        <img src="/images/restroom.png" alt="Restroom icon" class="icon">
                        <p class="label">Restroom Accessibility</p>
                    </div>

                    <div class="iconbox">
                        <img src="/images/sound.png" alt="Sound icon" class="icon">
                        <p class="label">Sound and Alarms</p>
                    </div>

                    <div class="iconbox">
                        <img src="/images/vegetarian.png" alt="Vegetarian icon" class="icon">
                        <p class="label">Vegetarian Dining</p>
                    </div>
                    
                    <div class="iconbox">
                        <img src="/images/laundry.png" alt="Laundry icon" class="icon">
                        <p class="label">Laundry</p>
                    </div>
                    
                    <div class="iconbox">
                        <img src="/images/wood.png" alt="Wood icon" class="icon">
                        <p class="label">Hardwood Flooring</p>
                    </div>
                </div>
            </div>
        
            <br><br>
        
            <div id="building">
                <img src="../images/map_base.jpg" alt="Map of Wellesley College Campus" usemap="#dorms" id="map">
            </div>

            <map name="dorms">
                <area shape="rect" coords="390,110,465,175" href="beebe.html" title="Beebe Hall" alt="Beebe Hall" id="beebe"/>

                <area shape="rect" coords="900,355,975,450" href="mcafee.html" title="McAfee Hall" alt="McAfee Hall" id="mac"/>
                
                <area shape="rect" coords="360,310,460,390" href="tower.html" title="Tower Court" alt="Tower Court" id="tower"/>
            </map>
        <br><br>
        
        <ul class="nav"s>
            <li class="navli"><a class="active" href="#drama">Home</a></li>
            <li class="navli"><a href="../templates/whowhywhat.html">Why this Hack?</a></li>
            <li class="navli"><a href="../templates/beebe.html">Beebe Hall</a></li>
            <li class="navli"><a href="../templates/tower.html">Tower Court</a></li>
            <li class="navli"><a href="../templates/mcafee.html">McAfee Hall</a></li>
            <li class="navli"><a href="../templates/iconcredit.html">Icon Credits</a></li>
        </ul>
    </body>
</html>
