<!DOCTYPE html>
<html lang = "en-us">
    <head>
        <title> Deconstructing Wellesley </title>
        <meta charset = "UTF-8">
        <link href="../stylesheets/image_map.css" rel='stylesheet' type='imagemap/css'>
        <link href="../stylesheets/style.css" rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:600|Work+Sans:300" rel="stylesheet">
    </head>

    <body>

        <div id="header">
            <div id="title">
                <h1 id="drama">Wellesley Blue<i>prints</i></h1>
            </div>
        </div>
        <br>
        <br>
        <div class="contentblock">
            <h2>Where will your home be on Wellesley's campus? </h2>

                <p>The first year of college can be a time of uncertainty and anxiety, especially if you need particular accommodations and are concerned about finding a good fit roommate and dorm. This website, Wellesley Blue<i>prints</i>, is designed to smooth your transition by helping you identify a niche home on campus that meets your needs.</p>
        </div>

        <div class="contentblock">
            <h2>Who, Why, and What: </h2>

            <p>Click <a href="whowhywhat.html">here</a> to read who we are, why we chose to take on this project, and what we hope the project will accomplish. </p>
        </div>

        <div class="contentblock">
            <h2>Icons and Map: </h2>
            <p>Below, you'll find icons representing the various accessibility factors of dorms at Wellesley College. When you navigate to the pages specific to each dorm, the accessibility factors will be categorized using these icons.</p>
            <p>To visit a dorm's page, locate it on the map below and click to navigate.</p>
        </div>

        <div class="imagemap">
            <img src="../images/map_base.jpg" alt="Map of Wellesley College Campus" usemap="#dorms" style= "margin:auto;border: 3px solid black">

            <map name="dorms">
                <area shape="rect" coords="409,123,436,157" href="beebe.html" title="Beebe Hall" alt="Beebe Hall"/>

                <area shape="rect" coords="914,372,944,416" href="mcafee.html" title="McAfee Hall" alt="McAfee Hall"/>

                <area shape="rect" coords="375,328,437,373" href="tower.html" title="Tower Court" alt="Tower Court"/>
		    </map>
		</div>

    </body>
</html>
