<!DOCTYPE html>

<head>
    <title>McAfee Hall</title>
    <link href="../stylesheets/style.css" rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:600|Work+Sans:300" rel="stylesheet">
</head>

<body>
    <div id="iconlib">
            <div class="icondecor">
                <img src="/images/elevator.png" alt="Elevator icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/kitchen.png" alt="Kitchen icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/nuts.png" alt="Nuts icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/wheelchair.png" alt="Wheelchair icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/sound.png" alt="Sound icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/vegetarian.png" alt="Vegetarian icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/laundry.png" alt="Laundry icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/wood.png" alt="Wood icon" class="icon">
            </div>
    </div>

    <div id="blockcontent">
        <h1 id="home">McAfee Hall Profile:</h1>

        <h2>Food:</h2>
        
        <div class="icontext">
            <div class="iconcontent">
                    <img src="/images/restroom.png" alt="Wheelchair icon" class="icon">
            </div>
            <p><strong>Dining Hall Location:</strong> McAfee is above and to the left of the Bates dining Hall. Bates can be accessed either by walking down the stairs on McAfee's ground floor, or by taking the elevator to the basement and walking down a long hallway. </p>
        </div>
        
        <h2>Mobility:</h2>
        <h3>Outside the Building:</h3>

        <p>McAfee is a moderate distance from the library, and involves walking down the hill the dorm rests on. The most direct route is past the Multifaith Chapel, to the left of the academic quad.  </p>

        <p>McAfee is further from the campus center; continuing from the walk towards the library, Lulu is past Severence Green, the Davis Museum, and the Physical Plant Building. </p>

        <p>Gradation and Hills: McAfee has two main approaches. One is a shorter &amp; fairly steep path that leads up stairs past Freeman and along a flat stretch past Bates. The other approach is a longer but less steep paved path leading up the road to the building's entrance. You can also access McAfee during dining hall hours by entering through Freeman, which has both stair and ramp access; passing through Bates dining hall; and taking the elevator in McAfee's basement to the appropriate floor.</p>

        <h3>Inside the Building:</h3>

        <div class="icontext">
            <div class="iconcontent">
                 <img src="/images/elevator.png" alt="Elevator icon" class="icon">
            </div>
            <p>Elevator: McAfee has a fairly large elevator that is to the left of the front door entrance. </p>
            
            <p><strong>Doorknobs:</strong> McAfee has TK style doorknobs. </p>
            <p><strong>Living Room:</strong> McAfee's living room is on the ground floor of the building.</p>
        </div>

        <h2>Amenities:</h2>

        <div class="icontext">
            <div class="iconcontent">
                 <img src="/images/laundry.png" alt="Laundry icon" class="icon">
            </div>
            <p><strong>Laundry</strong> McAfee has a laundry set of laundry machines (washer and dryer) on every floor and one additional set in the basement. </p>
        </div>

        <div class="icontext">
            <div class="iconcontent">
                 <img src="/images/wheelchair.png" alt="Wheelchair icon" class="icon">
            </div>
            <p><strong>Restroom:</strong> Every residential floor in McAfee has an acessible restroom, as well as the ground floor.</p>
        </div>

        <div class="icontext">
            <div class="iconcontent">
                 <img src="/images/kitchen.png" alt="Kitchen icon" class="icon">
            </div>
            <p><strong>Kitchen: </strong>McAfee has a kitchen and common area on each floor. </p>
        </div>

        <h2>Sound and Alarms: </h2>

        <div class="icontext">
            <div class="iconcontent">
                 <img src="/images/sound.png" alt="Sound icon" class="icon">
            </div>
            <p><strong>Fire Alarms:</strong> TBD - flashing lights in some rooms? True in Shafer...</p>

            <p><strong>Heaters:</strong> The heaters in McAfee, as in most dorms on campus, are fairly loud. </p>
        </div>
            

        <h2>Environment:</h2>
        
        <div class="icontext">
            <div class="iconcontent">
                 <img src="/images/wood.png" alt="Wood icon" class="icon">
            </div>
            <p><strong>Allergens:</strong> McAfee has hardwood flooring, no air-conditioning, and heating in every room. The windows in McAfee are very large, but each window has a large shade that can be pulled down. </p>
        </div>
    
    <h2>McAfee Photo Gallery: </h2>
    
    <div class="gallery">
        <div class="polaroid">
            <img src="../images/mcafeegallery/McAfeeHandicapBathroomGround.jpg" alt="McAfee Handicap Restroom on the Ground Floor" style="width:100%" class="icon">
            <div class="container">
            <p>The handicapped restoom on McAfee's ground floor.</p>
            </div>
        </div>

        <div class="polaroid">
            <img src="../images/mcafeegallery/McAfeeElevator.jpg" alt="McAfee Elevator" style="width:100%" class="icon">
            <div class="container">
            <p>The McAfee elevator. </p>
            </div>
        </div>

        <div class="polaroid">
            <img src="../images/mcafeegallery/McAfeeLivingRoom.jpg" alt="McAfee Living Room" style="width:100%" class="icon">
            <div class="container">
            <p>The McAfee living room. </p>
            </div>
        </div>

        <div class="polaroid">
            <img src="../images/mcafeegallery/McAfeeLaundry.jpg" alt="McAfee Laundry Room" style="width:100%" class="icon">
            <div class="container">
            <p>The McAfee third floor laundry room.</p>
            </div>
        </div>

        <div class="polaroid">
            <img src="../images/mcafeegallery/McAfeeKitchen.jpg" alt="McAfee Kitchen Cooktop" style="width:100%" class="icon">
            <div class="container">
            <p>McAfee's third floor kitchen cook top. </p>
            </div>
        </div>

        <div class="polaroid">
            <img src="../images/mcafeegallery/McAfeeKitchen3rd.jpg" alt="McAfee Third Floor Kitchen" style="width:100%" class="icon">
            <div class="container">
            <p>McAfee's third floor kitchen. </p>
            </div>
        </div>

        <div class="polaroid">
            <img src="../images/mcafeegallery/McAfeeHallway.jpg" alt="McAfee Hallway" style="width:100%" class="icon">
            <div class="container">
            <p>A McAfee hallway. </p>
            </div>
        </div>

        <div class="polaroid">
            <img src="../images/mcafeegallery/McAfeeKitchenDoor.jpg" alt="McAfee Kitchen Door" style="width:100%" class="icon">
            <div class="container">
            <p>McAfee's third floor kitchen door.</p>
            </div>
        </div>

        <div class="polaroid">
            <img src="../images/mcafeegallery/McAfeeWaterfountain.jpg" alt="McAfee Water Fountain" style="width:100%" class="icon">
            <div class="container">
            <p>A McAfee water fountain. </p>
            </div>
        </div>
    </div>
        
    <div id="iconlib">
            <div class="icondecor">
                <img src="/images/elevator.png" alt="Elevator icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/kitchen.png" alt="Kitchen icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/nuts.png" alt="Nuts icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/wheelchair.png" alt="Wheelchair icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/sound.png" alt="Sound icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/vegetarian.png" alt="Vegetarian icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/laundry.png" alt="Laundry icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/wood.png" alt="Wood icon" class="icon">
            </div>
        </div>
    </div>

    <ul class="nav">
        <li class="navli"><a href="/">Home</a></li>
        <li class="navli"><a href="/whowhywhat.html">Why this Hack?</a></li>
        <li class="navli"><a href="/beebe.html">Beebe Hall</a></li>
        <li class="navli"><a href="/tower.html">Tower Court</a></li>
        <li class="navli"><a class = "active" href="/mcafee.html">McAfee Hall</a></li>
        <li class="navli"><a href="/iconcredit.html">Icon Credits</a></li>
    </ul>
</body>
