<!DOCTYPE html>

<head>
    <title>Tower Court</title>
    <link href="../stylesheets/style.css" rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:600|Work+Sans:300" rel="stylesheet">
</head>

<body>
    <div id="iconlib">
            <div class="icondecor">
                <img src="/images/elevator.png" alt="Elevator icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/kitchen.png" alt="Kitchen icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/nuts.png" alt="Nuts icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/wheelchair.png" alt="Wheelchair icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/sound.png" alt="Sound icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/vegetarian.png" alt="Vegetarian icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/laundry.png" alt="Laundry icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/wood.png" alt="Wood icon" class="icon">
            </div>
    </div>

    <div id="blockcontent">
        <h1 id="home">Tower Court Profile:</h1>

        <p>We wanted to create a web resource to help incoming and returning students find the most comfortable and accessible home in one of the campus dorms. We know that “accessible” means different things to different people, so instead of just breaking down buildings into broad categories of “accessible” or “not accessible,” we’ve provided information about specific traits and amenities of the buildings so that the students themselves can decide what is accessible for them. </p>
        
        <div class="iconcontent">
                <img src="/images/wheelchair.png" alt="Wheelchair icon" class="icon">
        </div>
        <p>Tower Court has it's own dining hall located within the building. The dining area can be entered using the stairs or the elevator.</p>
        
        <div class="iconcontent">
                <img src="/images/nuts.png" alt="Peanut icon" class="icon">
        </div>
        <p>The Tower Court dining hall provides food that is nut free. </p>
        <div class="iconcontent">
                <img src="/images/wheelchair.png" alt="Wheelchair icon" class="icon">
        </div>
        <p>Mobility: Clapp library is a close walk, with hills. Lulu Chow Wang Campus Center is a short walk, with one gradual decline. The Science center is the furthest academic building.</p>
        <p>Tower has three entrances, two in the front that require stairs when you enter the building, and one in the rear that has stairs leading up to Tower.</p>
        <div class="iconcontent">
                <img src="/images/wheelchair.png" alt="Wheelchair icon" class="icon">
        </div>

IN:
Mobility
Elevator or nah
Tower has elevators with a heavy grate that you have to open 
Steps, number of steps 
Tower requires you to climb or descend stairs upon entrance
The dining hall requires stairs unless you enter through the Tower basement
There is a half flight to the tower common room
Doorknob types

Laundry
Tower has laundry in the basement, the elevator will take you there but the door has a threshold bump
Restrooms
problematic
Kitchen
Tower has a small kitchen on the 2nd through 4rth floor.  

Sound/Alarms
Fire alarms - flashing lights (maybe in some rooms?)
Super loud heaters

Environment
Allergens (carpeting vs hardwood, mix of both, etc)
Hallways are carpeted but rooms are hardwood
heating/cooling (no AC, heating in every room) 


    <div id="iconlib">
            <div class="icondecor">
                <img src="/images/elevator.png" alt="Elevator icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/kitchen.png" alt="Kitchen icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/nuts.png" alt="Nuts icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/wheelchair.png" alt="Wheelchair icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/sound.png" alt="Sound icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/vegetarian.png" alt="Vegetarian icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/laundry.png" alt="Laundry icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/wood.png" alt="Wood icon" class="icon">
            </div>
        </div>
    </div>

    <ul class="nav">
        <li class="navli"><a href="../main.html">Home</a></li>
        <li class="navli"><a href="../whowhywhat.html">Why this Hack?</a></li>
        <li class="navli"><a href="../beebe.html">Beebe Hall</a></li>
        <li class="navli"><a class="active" href="/tower.html">Tower Court</a></li>
        <li class="navli"><a href="../mcafee.html">McAfee Hall</a></li>
        <li class="navli"><a href="../iconcredit.html">Icon Credits</a></li>
    </ul>
</body>
