<!DOCTYPE html>

<head>
    <title>Tower Court</title>
    <link href="../stylesheets/style.css" rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:600|Work+Sans:300" rel="stylesheet">
</head>

<body>
    <div id="iconlib">
            <div class="icondecor">
                <img src="/images/elevator.png" alt="Elevator icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/kitchen.png" alt="Kitchen icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/nuts.png" alt="Nuts icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/wheelchair.png" alt="Wheelchair icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/sound.png" alt="Sound icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/vegetarian.png" alt="Vegetarian icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/laundry.png" alt="Laundry icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/wood.png" alt="Wood icon" class="icon">
            </div>
    </div>

    <div id="blockcontent">
        <h1 id="home">Tower Court Profile:</h1>

        <p>We wanted to create a web resource to help incoming and returning students find the most comfortable and accessible home in one of the campus dorms. We know that “accessible” means different things to different people, so instead of just breaking down buildings into broad categories of “accessible” or “not accessible,” we’ve provided information about specific traits and amenities of the buildings so that the students themselves can decide what is accessible for them. </p>

        

<h2>Food:</h2>
        
        <div class="iconcontent">
                <img src="/images/restroom.png" alt="Wheelchair icon" class="icon">
        </div>
        <p>Tower Court has it's own dining hall located within the building. The dining area can be entered using the stairs or the elevator.</p>

        <div class="iconcontent">
                <img src="/images/vegetarian.png" alt="Vegetarian icon" class="icon">
        </div>
        <p>The Tower Court dining hall provides food that is nut free.</p>

        <h2>Mobility</h2>
        <h3>Outside the Building:</h3>
        
        <p>Clapp library is a close distance from Tower, and involves walking up and down hills. The most direct route is along the sidewalk passing Severence Green. </p>
        
        <p>Lulu Chow Wang Campus Center is a short walk, with one gradual decline. </p>
        
        <p>The Science center is the furthest academic building.</p>
        
        <p>Gradation and Hills: Tower has three main entrances, all of which are at the top of a hill. The two in the front that require stairs once you enter the building, and one in the rear that has stairs leading up to Tower.</p>

        <h3>Inside the Building:</h3>
        
        <div class="iconcontent">
             <img src="/images/elevator.png" alt="Elevator icon" class="icon">
        </div>
        
        <p>Elevator: Tower has a moderately sized elevators that require stairs to be accessed. The elevators both have heavy grates that you have to open to enter. Unfortunately the elevator does not access a few areas.  Firstly, Tower requires you to climb or descend stairs upon entrance.  Secondly, there is a half flight of stairs to the Tower common room, and no elevator alternative.</p>
        
        <p>Doorknobs: Beebe has TK style doorknobs. </p>
        
        <h2>Amenities:</h2>
        
        <div class="iconcontent">
             <img src="/images/laundry.png" alt="Laundry icon" class="icon">
        </div>
        <p>Laundry: Tower has laundry in the basement, the elevator will take you there but the door has a threshold bump. </p>
        
        <div class="iconcontent">
             <img src="/images/wheelchair.png" alt="Wheelchair icon" class="icon">
        </div>
        <p>Restroom: TBD.</p>

        <div class="iconcontent">
             <img src="/images/kitchen.png" alt="Kitchen icon" class="icon">
        </div>
        <p>Kitchen: Tower has a kitchen on the second floor through forth floor. There are no waterfountains in the building. </p>
        
        <h2>Sound and Alarms: </h2>
        
        <div class="iconcontent">
             <img src="/images/sound.png" alt="Sound icon" class="icon">
        </div>

        <p>Fire Alarms: TBD - flashing lights in some rooms? True in Shafer...</p>
        
        <p>Heaters: The heaters in Tower, as in most dorms on campus, are fairly loud. They "clang and bang" regularly beginning in the fall. </p>
        
        <h2>Enivornment:</h2>

        <div class="iconcontent">
             <img src="/images/wood.png" alt="Wood icon" class="icon">
        </div>
        
        <p>Allergens: Tower has hardwood flooring, no air-conditioning, and heating in every room. </p>

        
    <div id="iconlib">
            <div class="icondecor">
                <img src="/images/elevator.png" alt="Elevator icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/kitchen.png" alt="Kitchen icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/nuts.png" alt="Nuts icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/wheelchair.png" alt="Wheelchair icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/sound.png" alt="Sound icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/vegetarian.png" alt="Vegetarian icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/laundry.png" alt="Laundry icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/wood.png" alt="Wood icon" class="icon">
            </div>
        </div>
    </div>

    <ul class="nav">
        <li class="navli"><a href="/">Home</a></li>
        <li class="navli"><a href="/whowhywhat.html">Why this Hack?</a></li>
        <li class="navli"><a href="/beebe.html">Beebe Hall</a></li>
        <li class="navli"><a class="active" href="/tower.html">Tower Court</a></li>
        <li class="navli"><a href="/mcafee.html">McAfee Hall</a></li>
        <li class="navli"><a href="/iconcredit.html">Icon Credits</a></li>
    </ul>
</body>
