<!DOCTYPE html>

<head>
    <title>Why this Hack?</title>
    <link href="../stylesheets/style.css" rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:600|Work+Sans:300" rel="stylesheet">
</head>

<body>
    <div id="iconlib">
            <div class="icondecor">
                <img src="/images/elevator.png" alt="Elevator icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/kitchen.png" alt="Kitchen icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/nuts.png" alt="Nuts icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/restroom.png" alt="Restroom icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/sound.png" alt="Sound icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/vegetarian.png" alt="Vegetarian icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/laundry.png" alt="Laundry icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/wood.png" alt="Wood icon" class="icon">
            </div>
    </div>
    
    <div id="blockcontent">
        <h1 id="home">Why this Hack?</h1>
    
        <p>We wanted to create a web resource to help incoming and returning students find the most comfortable and accessible home in one of the campus dorms. We know that “accessible” means different things to different people, so instead of just breaking down buildings into broad categories of “accessible” or “not accessible,” we’ve provided information about specific traits and amenities of the buildings so that the students themselves can decide what is accessible for them. </p>

        <h1>Why did we include these specific things?</h1>
    
        <p>Some of the information we’ve included in our accessibility reports seems obvious, like whether or not a building has elevators. Other things might not seem as obvious. This page includes a short description of our thought process for including each piece of information. </p>
    
        <ul>

            <li><strong>Food - </strong>Part of having an accessible home is reasonable access to any special meals that might need to be provided, including strong allergens or kosher meals. </li>

            <li><strong>Walk times - </strong>We want students to be able to find a dorm that puts them at a comfortable distance from the places they’ll spend the most time with. We don’t want anyone to be discouraged from going out by concerns of overtaxing themselves. We designed this with students with fatigue conditions or limited mobility in mind. </li>

            <li><strong>In-building distances -</strong> We wanted to include distances from elevators to places like laundry rooms, restrooms, and dining halls so students can see for themselves what their daily lives might entail. </li>

            <li><strong>Steps and numbers - </strong>Stairs are one of the things that can define accessibility for some students. Some students with limited mobility might find a full flight of stairs too much to handle, but some of the half flights within the buildings could be manageable. We want students to have the agency to make the choice for themselves. </li>

            <li><strong>Laundry - </strong>Laundry can be taxing if someone with fatigue or limited nobility has to carry their clothes over a longer distance and make several trips back and forth. Some laundry rooms are also only accessible by stairs, with no direct elevator or lift access. </li>

            <li><strong>Restrooms - </strong>Students should know where accessible restrooms are located. </li>

            <li><strong>Kitchen - </strong>Students with diet restrictions or special meal requirements may need to prepare their own food and shouldn’t have to travel far to do so. </li>

            <li><strong>Sound Issues - </strong>Some students are very sensitive to noise disturbance and should be able to do their best to avoid situations when necessary. </li>

            <li><strong>Fire Alarms - </strong>Some students might be sensitive to flashes of light, and should be able to live somewhere they don’t have to worry about bright flashes during a fire alarm. On the opposite side of the spectrum, students who are Deaf or hard of hearing should be guaranteed housing where they will be alerted of emergencies in a way that is easy for them. </li>

            <li><strong>Floor materials - </strong>Carpeting can be an allergen for some students and they should be able to choose to live somewhere with hardwood so they can live comfortably. </li>
    </ul>
    
    <div id="iconlib">
            <div class="icondecor">
                <img src="/images/elevator.png" alt="Elevator icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/kitchen.png" alt="Kitchen icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/nuts.png" alt="Nuts icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/restroom.png" alt="Restroom icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/sound.png" alt="Sound icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/vegetarian.png" alt="Vegetarian icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/laundry.png" alt="Laundry icon" class="icon">
            </div>
            <div class="icondecor">
                <img src="/images/wood.png" alt="Wood icon" class="icon">
            </div>
        </div>
    </div>
    
    <ul class="nav">
        <li class="navli"><a href="../templates/main.html">Home</a></li>
        <li class="navli"><a class="active" href="#home">Why this Hack?</a></li>
        <li class="navli"><a href="../templates/beebe.html">Beebe Hall</a></li>
        <li class="navli"><a href="../templates/tower.html">Tower Court</a></li>
        <li class="navli"><a href="../templates/mcafee.html">McAfee Hall</a></li>
        <li class="navli"><a href="../templates/iconcredit.html">Icon Credits</a></li>
    </ul>

</body>

